/*--------------------------------------------------------------
1.0 Admin
--------------------------------------------------------------*/
#adminmenu .menu-icon-testimonials div.wp-menu-image:before {
  content: "\f122"; }
#adminmenu .menu-icon-people div.wp-menu-image:before {
  content: "\f307"; }
#adminmenu .menu-icon-faq div.wp-menu-image:before {
  content: "\f223"; }
#adminmenu .menu-icon-cta div.wp-menu-image:before {
  content: "\f488"; }
#adminmenu .menu-icon-message div.wp-menu-image:before {
  content: "\f330"; }
#adminmenu .menu-icon-quotes div.wp-menu-image:before {
  content: "\f473"; }
#adminmenu .menu-icon-mega-menu div.wp-menu-image:before {
content: "\f333"; }
#adminmenu .menu-icon-services div.wp-menu-image:before {
content: "\f487"; }
