@font-face {
  font-family: 'FontAwesome';
  src: url('fonts/fontawesome-webfont.eot?v=4.3.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.3.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff2?v=4.3.0') format('woff2'), url('fonts/fontawesome-webfont.woff?v=4.3.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.3.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.shortcode-faq .faq-question,
.shortcode-faq .accordion-title,
.accordion .faq-question,
.accordion .accordion-title{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#3318255F,endColorstr=#3318255F);
	zoom: 1;
	text-tra nsform: capitalize;
	padding:10px 0;
	cursor: pointer;
	margin-bottom: 10px;
}

.shortcode-faq .faq-question:after,
.shortcode-faq .accordion-title:after,
.accordion .faq-question:after,
.accordion .accordion-title:after{
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	text-rendering:auto;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content: "\f055";
	margin-left:15px;
}

.shortcode-faq .faq-question.focused:after,
.shortcode-faq .faq-question.open:after,
.shortcode-faq .accordion-title.focused:after,
.shortcode-faq .accordion-title.open:after,
.accordion .faq-question.focused:after,
.accordion .faq-question.open:after,
.accordion .accordion-title.focused:after,
.accordion .accordion-title.open:after{
	font:normal normal normal 14px/1 FontAwesome;
	font-size:inherit;
	
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	content: "\f056";
	margin-left:15px
}

.shortcode-faq .faq-answer,
.shortcode-faq .accordion-content,
.accordion .faq-answer,
.accordion .accordion-content{
	padding:10px 20px 0 0;
}

.shortcode-faq .accordion-toggle,
.accordion .accordion-toggle{
	cursor:pointer
}


.shortcode-faq .accordion-content,
.accordion .accordion-content{
	display:none;
}

.shortcode-faq .accordion-content.default,
.accordion .accordion-content.default{
	display:block
}

.accordion{
	margin-bottom:20px
}








